#Python 3.11.11
accelerate==1.2.1
aiofiles==23.2.1
aiohttp-retry==2.8.3
altair==5.5.0
anyio
async-lru
attrs
backoff
bcrypt
beautifulsoup4
bitsandbytes==0.45.0
bleach
blinker
certifi
cffi
charset-normalizer
click
colorama
coloredlogs
comm
contourpy
cryptography
cycler
data-preprocess
fastapi
filelock
fonttools
fsspec
gensim
gitpython
huggingface_hub
httpx
ipython
ipywidgets
joblib
jupyter_client
jupyter_core
langchain
lightning
matplotlib
numpy
pandas
pyarrow
pydantic
python-dateutil
pytorch-lightning
regex
requests
scikit-learn
scipy
six
streamlit
torch==2.5.1+cu121
torch-geometric==2.6.1
torch-scatter
torch-sparse
torchvision
tqdm
typing-extensions
uvicorn
widgetsnbextension
